<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game <%= id %></title>
  </head>
  <body>
  <div class="welcome-container">
    <h1>Welcome to game <%= id %></h1>
    <div class="header">
      <div>
        <div class="game-info">
          <%= name %> with max players <%= capacity %>, created at <%= (new
          Date(created_at)).toLocaleDateString() %> by <%= host_username %>          
        </div>
      </div>
      <a href="/lobby" class="back-btn">Return to Lobby</a>
    </div> 
  </div>

  <div class="game-area">
    <div class="card">
      <div><img src="/public/cardStack.png" width="350" height="450"></div> 
      <!-- <div><img src="https://as2.ftcdn.net/jpg/05/31/40/43/1000_F_531404312_Z8ZCf9J6f5Q43J0LEZ3O63zuvWTXkk96.jpg" width="350" height="450"></div>--> 

      </div>
    </div>
  </div>
  </body>
</html>
